<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About [Your Image Editor Name]</title>
    <link rel="stylesheet" type="text/css" href="instructionstyles.css">
</head>

<body>
    <div class="container">
        <h1>About the Image Editor</h1>
        <p>Welcome guys, your go-to platform for all your image editing needs. We're passionate about enabling you to express your creativity and enhance your images with ease. Whether you're a professional photographer or just someone who loves taking photos, our image editor has something for everyone.</p>
        
        <h2>Our Mission</h2>
        <p>Our mission is simple: to provide you with powerful and user-friendly tools to transform your images. We believe that everyone should have access to quality image editing, and we're here to make that a reality. Unleash your creativity and let your images shine with [Your Image Editor Name].</p>
        
        <h2>Key Features</h2>
        <ul>
         
        </ul>
        
        <h2>Meet the Team</h2>
        <p>Aditya Agrawal</p>
        <p>Aryaman Dwivedi</p>
        <p>Brijesh Kumar Yadav</p>
        
        <h2>Contact Us</h2>
        <p>We're here to help. If you have any questions, feedback, or inquiries, please don't hesitate to contact us. You can reach us at crazyaryaman@gmail.com</p>
    </div>
</body>

</html>
