<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Image Editor - Edit your images online</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Image Editor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('instructions') }}" target="_blank">How to Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}" target="_blank"> About </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h1 class="fs-2 text">Image Editor</h1>

    <form action="/edit" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">Select an image to edit</label>
        <input class="form-control" name="file" type="file" id="formFile" />
      </div>

      <div class="form-floating">
        <select name="operation" class="form-select" id="floatingSelect" onchange="handleOperationChange()"
          aria-label="Floating label select example">
          <option selected>Choose an editing Operation</option>
          <option id="filters" value="filter">Filters</option>
          <option id="convert" value="convert">Conversions</option>
          <option id="recognize" value="recognize">Face Recognition</option>
          <option id="transform" value="transform">Transformations</option>
        </select>
        <label for="floatingSelect">Select an editing operation</label>
      </div>

      <div id="filterOptions" style="margin-top: 10px; display: none;">
        <select name="filterType" class="form-select" id="filterSelect" aria-label="Filter type select">
          <option selected>Choose Filter type</option>
          <option value="cgray">Convert to GrayScale</option>
          <option value="blur">Water Colour Blur</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
        </select>
      </div>

      <div id="convertOptions" style="margin-top: 10px; display: none;">
        <select name="convertType" class="form-select" id="convertSelect" aria-label="Convert type select">
          <option selected>Choose Convert type</option>
          <option value="cjpg">Convert to JPEG</option>
          <option value="cpng">Convert to PNG</option>
          <option value="cwebp">Convert to Webp</option>
        </select>
      </div>


      <div id="transformOptions" style="margin-top: 10px; display: none;">
        <select name="transformType" class="form-select" id="transformSelect" aria-label="Transform type select"
          onchange="handleTransformOperation()">
          <option selected>Choose Transformations</option>
          <option value="resize">Resize</option>
          <option value="rotate">Rotation</option>
          <option value="flip">Flip Image</option>
          <option value="compress">Compression</option>
        </select>
      </div>

      <div id="angleInput" style="margin-top: 10px; display: none;">
        <label for="rotateAngle">Rotation Angle:</label>
        <input type="number" name="rotateAngle" id="rotateAngle" class="form-control"
          placeholder="Enter rotation angle (in degrees)">
      </div>

      <div id="resizeInput" style="margin-top: 10px; display: none;">
        <label for="height">Height Scale:</label>
        <input type="text" name="scale_height" id="height" class="form-control" placeholder="Enter Height">
        <label for="width">Width Scale:</label>
        <input type="text" name="scale_width" id="width" class="form-control" placeholder="Enter Width">
      </div>

      <div id="compress" style="margin-top: 10px; display: none;">
        <label for="quality" class="form-label">Image Quality:</label>
        <input type="range" min="1" max="100" oninput="this.nextElementSibling.value = this.value" name="imageQuality" id="quality" class="form-range" placeholder="Image quality">
        <output></output>
      </div>

      <div id="flipOptions" style="margin-top: 10px; display: none;">
        <select name="flipType" class="form-select" id="flipSelect" aria-label="Flip type select">
          <option selected>Choose flip type</option>
          <option value="vertical-flip">Vertical</option>
          <option value="horizontal-flip">Horizontal</option>
          <option value="both-flip">Both</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>

  {% with messages = get_flashed_messages() %} {% if messages %} {% for
  message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 30px;">
    <div>
      <strong>Success!</strong> Image has been processed
      <img class='edited-image' src="static/{{ message | safe }}"></img>
    </div>
    <div>
      <a href="{{ url_for('download_file', filename=message) }}"><button data-bs-dismiss="alert" type="button"
        class="download-button btn btn-success">Download</button></a>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <script>
    function handleOperationChange() {
      let operationSelect = document.getElementById("floatingSelect");
      let conversionOptionsDiv = document.getElementById("convertOptions");
      let filterOptionsDiv = document.getElementById("filterOptions");
      let transformOptionsDiv = document.getElementById("transformOptions");
      let flipOptionsDiv = document.getElementById("flipOptions");
      let angleInputDiv = document.getElementById("angleInput");
      let resizeInputDiv = document.getElementById("resizeInput");
      let compressDiv = document.getElementById("compress");
      let facerecogOptionsDiv = document.getElementById("facerecogOptions");

      if (operationSelect.value === "flip") {
        flipOptionsDiv.style.display = "block";
        conversionOptionsDiv.style.display = "none";
        filterOptionsDiv.style.display = "none";
        transformOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
      else if (operationSelect.value === "convert") {
        conversionOptionsDiv.style.display = "block";
        flipOptionsDiv.style.display = "none";
        filterOptionsDiv.style.display = "none";
        transformOptionsDiv.style.display = "none";

        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";

      }
      else if (operationSelect.value === "filter") {
        filterOptionsDiv.style.display = "block";
        flipOptionsDiv.style.display = "none";
        conversionOptionsDiv.style.display = "none";
        transformOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
      else if (operationSelect.value === "transform") {
        transformOptionsDiv.style.display = "block";
        angleInputDiv.style.display = "none";
        filterOptionsDiv.style.display = "none";
        flipOptionsDiv.style.display = "none";
        conversionOptionsDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
      else {
        conversionOptionsDiv.style.display = "none";
        filterOptionsDiv.style.display = "none";
        transformOptionsDiv.style.display = "none";
        flipOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
    }

    function handleTransformOperation() {
      let transformOptionsDiv = document.getElementById("transformSelect");
      let flipOptionsDiv = document.getElementById("flipOptions");
      let angleInputDiv = document.getElementById("angleInput");
      let resizeInputDiv = document.getElementById("resizeInput");
      let compressDiv = document.getElementById("compress");


      if (transformOptionsDiv.value === "flip") {
        flipOptionsDiv.style.display = "block";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
      else if (transformOptionsDiv.value === "rotate") {
        angleInputDiv.style.display = "block";
        flipOptionsDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";

      }
      else if (transformOptionsDiv.value === "resize") {
        resizeInputDiv.style.display = "block";
        flipOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }
      else if(transformOptionsDiv.value === "compress"){
        flipOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "block";
      }
      else {
        flipOptionsDiv.style.display = "none";
        angleInputDiv.style.display = "none";
        resizeInputDiv.style.display = "none";
        compressDiv.style.display = "none";
      }

    }
  </script>

</body>

</html>