<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='instructionstyles.css') }}">
</head>

<div class="container">
    <h1 class="text">How to Use Image Editor!!</h1>

    <p>Welcome to the Image Editor! Below are instructions on how to use the various functionalities of this image editing tool:</p>

    <h2>1. Select an Image</h2>
    <p>Click the "Select an image to edit" button and choose an image from your device.</p>

    <h2>2. Choose an Editing Operation</h2>
    <p>Use the "Choose an editing Operation" dropdown to select the type of editing operation you want to perform. There are four categories of operations: Filters, Conversions, Transformations, and Compression. Select the one that suits your needs.</p>

    <h2>3. Filter Operations</h2>
    <p>If you choose the "Filters" category, you can further select the type of filter you want to apply, such as converting to grayscale or applying color filters (Red, Blue, Green, or Watercolor Blur).</p>

    <h2>4. Conversion Operations</h2>
    <p>If you choose the "Conversions" category, you can convert the image to different formats, including JPEG, PNG, or Webp.</p>

    <h2>5. Transformation Operations</h2>
    <p>If you choose the "Transformations" category, you can perform various transformations like resizing the image, rotating it, flipping it vertically or horizontally, and compressing it. The options for each transformation will appear based on your selection.</p>

    <h2>6. Editing Parameters</h2>
    <p>Depending on the operation you choose, you may need to provide additional parameters. For example, for resizing, you can specify the height and width scales. For compression, you can adjust the image quality using the range slider.</p>

    <h2>7. Submit</h2>
    <p>Once you've made your selections and provided any necessary parameters, click the "Submit" button to apply the chosen operation to your image.</p>

    <h2>8. Download the Edited Image</h2>
    <p>After the image is processed, a success message will appear, and you can download the edited image by clicking the "Download" button.</p>

</div>